# GIT
.gitignore      export-ignore
.gitattributes  export-ignore
/.github/       export-ignore

# Pest
/tests          export-ignore
phpunit.xml     export-ignore

# Files
pint.json
run.php         export-ignore
